<div class="container customer">
  {% include 'page_title' %}
  <div class='line'></div>
  <div class='row'>
    <div class='col-xs-12 col-sm-5'>
      {% comment %}
      This form must use 'activate_customer_password'
      {% endcomment %}
      <p class='margin_bottom_10'>{{ 'customer.activate_account.subtext' | t }}</p>

      {% form 'activate_customer_password' %}

      {{ form.errors | default_errors }}

      <div class="form-group">
        <label for="CustomerPassword">{{ 'customer.activate_account.password' | t }}</label>
        <input class='form-control' type="password" value="" name="customer[password]" id="CustomerPassword">
      </div>

      <div class="form-group">
        <label for="CustomerPasswordConfirmation">{{ 'customer.activate_account.password_confirm' | t }}</label>
        <input class='form-control' type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation">
      </div>

      <input type="submit" class="btn margin_right_10" value="{{ 'customer.activate_account.submit' | t }}">
      <input type="submit" name="decline" class='btn btn_dark' value="{{ 'customer.activate_account.cancel' | t }}">

      {% endform %}
    </div>
  </div>
</div>