<div class="container customer">
  {% include 'page_title' %}
  <div class='line'></div>
  <a class='return_account' href='/account'><i class="margin_right_10 fa fa-long-arrow-left"></i>{{ 'customer.account.return' | t }}</a>

  <h2 class="h4">{{ 'customer.order.title' | t: name: order.name }}</h2>
  <p class=''>{{ 'customer.order.date' | t: date: order.created_at | date: "%B %d, %Y %I:%M%p" }}</p>

  <div class='row margin_top_10'>
    <div class='col-xs-12 col-md-8'>
      <table class="table order_table">
        <thead>
          <tr>
            <th>{{ 'customer.order.product' | t }}</th>
            <th class='text-right'>{{ 'customer.order.sku' | t }}</th>
            <th class='text-right'>{{ 'customer.order.price' | t }}</th>
            <th class="text-right">{{ 'customer.order.quantity' | t }}</th>
            <th class="text-right">{{ 'customer.order.total' | t }}</th>
          </tr>
        </thead>
        <tbody>
          {% for line_item in order.line_items %}
          <tr id="{{ line_item.key }}">
            <td>
              {{ line_item.title | link_to: line_item.product.url }}
              {% if line_item.fulfillment %}
              <div class="note">
                {% assign created_at = line_item.fulfillment.created_at | date: "%b %d" %}
                {{ 'customer.order.fulfilled_at' | t: date: created_at }}
                {% if line_item.fulfillment.tracking_number %}
                <a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
                {% endif %}
              </div>
              {% endif %}
            </td>
            <td class='text-right'>{{ line_item.sku }}</td>
            <td class='text-right'>{{ line_item.price | money }}</td>
            <td class="text-right">{{ line_item.quantity }}</td>
            <td class="text-right">{{ line_item.quantity | times: line_item.price | money }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan='2' class='notopborder'></td>
            <td colspan="2" class='text-right'>{{ 'customer.order.subtotal' | t }}</td>
            <td colspan='' class="text-right">{{ order.subtotal_price | money }}</td>
          </tr>
          {% for discount in order.discounts %}
          <tr class="">
            <td colspan='2' class='notopborder'></td>
            <td colspan="2" class='text-right notopborder'>{{ discount.code }} {{ 'customer.order.discount' | t }}</td>
            <td colspan='' class="text-right notopborder">{{ discount.savings | money }}</td>
          </tr>
          {% endfor %}
          {% for shipping_method in order.shipping_methods %}
          <tr>
            <td colspan='2' class='notopborder'></td>
            <td colspan="2" class='text-right notopborder'>{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</td>
            <td colspan='' class="text-right notopborder">{{ shipping_method.price | money }}</td>
          </tr>
          {% endfor %}

          {% for tax_line in order.tax_lines %}
          <tr>
            <td colspan='2' class='notopborder'></td>
            <td colspan="2" class='text-right notopborder'>{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
            <td colspan='' class="text-right notopborder">{{ tax_line.price | money }}</td>
          </tr>
          {% endfor %}

          <tr>
            <td colspan='2' class='notopborder'></td>
            <td colspan="2" class='text-right'><strong>{{ 'customer.order.total' | t }}</strong></td>
            <td colspan='' class="text-right"><strong>{{ order.total_price | money }} {{ order.currency }}</strong></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class='col-xs-12 col-md-4'>
      <div class='row'>
        <div class='col-xs-12 col-sm-6 col-md-12'>
          <h2 class='h4'><strong>{{ 'customer.order.billing_address' | t | upcase }}</strong></h2>
          <div class='border_all padding_15 margin_bottom_30'>
            <p class='margin_bottom_15'>
              <strong>{{ 'customer.order.payment_status' | t }}:</strong>
              {{ order.financial_status_label }}
            </p>
            <ul class='account_list nobottommargin'>
              <li>
                <span class='si-small social-icon noborder si_notransition'><i class='fa fa-user'></i></span>
                <span>{{ order.billing_address.name }}</span>
              </li>

              {% if order.billing_address.company != '' and order.billing_address.company != null %}
              <li>
                <span class='si-small social-icon noborder si_notransition'><i class='fa fa-home'></i></span>
                <span>{{ order.billing_address.company }}</span>
              </li>
              {% endif %}

              <li>
                <span class='si-small social-icon noborder si_notransition'><i class='fa fa-home'></i></span>
                <span>{{ order.billing_address.street }}</span>
              </li>

              <li>
                <span class='si-small social-icon noborder si_notransition'><i class='fa fa-home'></i></span>
                <span>{{ order.billing_address.city }}</span>
              </li>

              {% if order.billing_address.province != '' and order.billing_address.province != null %}
              <li>
                <span class='si-small social-icon noborder si_notransition'><i class='fa fa-home'></i></span>
                <span>{{ order.billing_address.province }}</span>
              </li>
              {% endif %}

              <li>
                <span class='si-small social-icon noborder si_notransition'><i class='fa fa-map'></i></span>
                <span>{{ order.billing_address.zip | upcase }}</span>
              </li>

              <li>
                <span class='si-small social-icon noborder si_notransition'><i class='fa fa-home'></i></span>
                <span>{{ order.billing_address.country }}</span>
              </li>

              <li>
                <span class='si-small social-icon noborder si_notransition'><i class='fa fa-phone'></i></span>
                <span>{{ order.billing_address.phone }}</span>
              </li>
            </ul>
          </div>
        </div>

        <div class='col-xs-12 col-sm-6 col-md-12'>
          <h2 class='h4'><strong>{{ 'customer.order.shipping_address' | t | upcase }}</strong></h2>
          <div class='border_all padding_15'>
            <p class='margin_bottom_15'>
              <strong>{{ 'customer.order.fulfillment_status' | t }}:</strong>
              {{ order.fulfillment_status_label }}
            </p>
            <ul class='account_list nobottommargin'>
              <li>
                <span class='si-small social-icon noborder si_notransition'><i class='fa fa-user'></i></span>
                <span>{{ order.shipping_address.name }}</span>
              </li>

              {% if order.shipping_address.company != '' and order.shipping_address.company != null%}
              <li>
                <span class='si-small social-icon noborder si_notransition'><i class='fa fa-home'></i></span>
                <span>{{ order.shipping_address.company }}</span>
              </li>
              {% endif %}

              <li>
                <span class='si-small social-icon noborder si_notransition'><i class='fa fa-home'></i></span>
                <span>{{ order.shipping_address.street }}</span>
              </li>

              <li>
                <span class='si-small social-icon noborder si_notransition'><i class='fa fa-home'></i></span>
                <span>{{ order.shipping_address.city }}</span>
              </li>

              {% if order.shipping_address.province != '' and order.shipping_address.province != null %}
              <li>
                <span class='si-small social-icon noborder si_notransition'><i class='fa fa-home'></i></span>
                <span>{{ order.shipping_address.province }}</span>
              </li>
              {% endif %}

              <li>
                <span class='si-small social-icon noborder si_notransition'><i class='fa fa-map'></i></span>
                <span>{{ order.shipping_address.zip | upcase }}</span>
              </li>

              <li>
                <span class='si-small social-icon noborder si_notransition'><i class='fa fa-map-marker'></i></span>
                <span>{{ order.shipping_address.country }}</span>
              </li>

              <li>
                <span class='si-small social-icon noborder si_notransition'><i class='fa fa-map-marker'></i></span>
                <span>{{ order.shipping_address.phone }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>